<div class="container">
  <div class="row">
    <div class="col-8 mt-5 mb-5">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header"><b>User info</b></div>
                <div class="card-body text-secondary">
                  <p class="card-text"><b>Name:</b> {{user?.name}}</p>
                  <p class="card-text"><b>Email: </b>{{user?.email}}</p>
                  <div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header"><b>Post details</b></div>
                <div class="card-body text-secondary">
                  <p class="card-text"><b>Title:</b> {{post?.title}}</p>
                  <p class="card-text"><b>Description: </b>{{post?.body}}</p>
                  <div>
                    <div class="row">
                      <div class="col-sm-6"><button type="button" class="btn btn-outline-secondary btn-block"
                          (click)="showEdit()">Edit</button></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card border-secondary mb-3" style="max-width: 18rem;" *ngIf="isEdit">
                <div class="card-header"><b>Edit Post</b></div>
                <div class="card-body text-secondary">
                  <form [formGroup]= "form" (ngSubmit)="editPost(form.value)">
                    <input type="text" class="form-control" name="title" placeholder="title"
                      formControlName="title">
                    <br />
                    <input type="text" class="form-control" name="description" placeholder="description"
                      formControlName="description">
                    <br />

                    <input type="submit" value="Edit Post" class="btn btn-outline-primary mt-1">
                  </form>
                  <div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Comments</b></div>
            <div class="card-body text-secondary" *ngFor="let comment of comments">
              <p class="card-text"><b>Email:</b> {{comment?.email}}</p>
              <p class="card-text"><b>Name: </b>{{comment?.name}}</p>
              <p class="card-text"><b>Comment: </b>{{comment?.body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5 mb-5">
      <app-latestcomments></app-latestcomments>
    </div>
  </div>
</div>
