<div class="container">
  <div class="row">
    <div class="col-8 mt-5 mb-5">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">User info</div>
                <div class="card-body text-secondary">
                  <p class="card-text"><b>Name:</b> {{user.name}}</p>
                  <p class="card-text"><b>Email: </b>{{user.email}}</p>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header">Post details</div>
                <div class="card-body text-secondary">
                  <p class="card-text"><b>Title:</b> {{post.title}}</p>
                  <p class="card-text"><b>Description: </b>{{post.body}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">Post comments</div>
            <div class="card-body text-secondary" >
              <p class="card-text"><b>Title:</b> {{post.title}}</p>
              <p class="card-text"><b>Description: </b>{{post.body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5 mb-5">
      <app-latestcomments></app-latestcomments>
    </div>
  </div>
</div>

