<div class="container">
  <div class="row">
    <div class="col-8 mt-5 mb-5">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-12">
              <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header"><b>User info</b></div>
                <div class="card-body text-secondary">
                  <p class="card-text"><b>Name:</b> {{user?.name}}</p>
                  <p class="card-text"><b>Email: </b>{{user?.email}}</p>
                  <div>
                        <div class="row">
                            <div class="col-sm-6"><p><button type="button" class="btn btn-outline-danger btn-block">Remove</button></p> </div>
                            <div class="col-sm-6"> <p><button type="button" class="btn btn-outline-secondary btn-block">Edit</button></p></div>
                        </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="card border-secondary mb-3" style="max-width: 18rem;" ng-if="!idEdit">
                <div class="card-header"><b>Post details</b></div>
                <div class="card-body text-secondary">
                  <p class="card-text"><b>Title:</b> {{post?.title}}</p>
                  <p class="card-text"><b>Description: </b>{{post?.body}}</p>
                  <div>
                    <div class="row">
                        <div class="col-sm-6"><button type="button" class="btn btn-outline-secondary btn-block" (click) = "editPost($event)">Edit</button></div>
                    </div>
              </div>
                </div>
              </div>
              <div class="card border-secondary mb-3" style="max-width: 18rem;" ng-else="idEdit">
                <div class="card-header"><b>Post details</b></div>
                <div class="card-body text-secondary">
                  <p class="card-text"><b>Title:</b> {{post?.title}}</p>
                  <p class="card-text"><b>Description: </b>{{post?.body}}</p>
                  <div>
                    <div class="row">
                        <div class="col-sm-6"><button type="button" class="btn btn-outline-secondary btn-block" (click) = "editPost($event)">Edit</button></div>
                    </div>
              </div>
                </div>
              </div>
            </div>



          </div>
        </div>

        <div class="col-6">
          <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header"><b>Post comments</b></div>
            <div class="card-body text-secondary" *ngFor="let comment of comments">
              <p class="card-text"><b>Email:</b> {{comment?.email}}</p>
              <p class="card-text"><b>Name: </b>{{comment?.name}}</p>
              <p class="card-text"><b>Comment: </b>{{comment?.body}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5 mb-5">
      <app-latestcomments></app-latestcomments>
    </div>
  </div>
</div>
