<div class="col-md-6">
  <!-- <h2 class="text-center">Edit Post</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="title">Title:</label>
      <input formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input formControlName="description" placeholder="Description" name="description" class="form-control" id="description">
    </div>
    <button class="btn btn-success">Update</button>
  </form> -->
  <h1>EDIT</h1>
</div>
